.footer {
  padding: 2.5rem 3rem;
  margin-top: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.column {
  :last-child {
    margin-right: 2rem;
  }
}
.box {
  margin-top: 1rem;

  span:first-child {
    margin-right: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
  }

  span:not(:first-child) {
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
    margin-left: 0.3rem;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
