.paragraphe {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 300;
  color: #444444;
  padding-right: 3rem;
}

.oblique {
  font-style: italic;
}
@media screen and (max-width: 1200px) {
  .paragraphe {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}
@media screen and (max-width: 800px) {
  .paragraphe {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .paragraphe {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
