.work {
  &__container {
    border-top: 0.1rem solid #444444;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 10% 30% 50% 10%;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__column {
  }
}
