.work {
  &__container {
    border-top: 0.08rem solid #444444;
    color: #444444;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 10% 40% 45% 5%;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__column {
    cursor: pointer;
  }
  &__expanded {
    border-top: 0.08rem solid #444444;
    color: #444444;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 10% 40% 45% 5%;
    font-size: 1.4rem;
    font-weight: 300;
  }
}
