.home {
  height: 100vh;
  &__container {
    padding: 2.5rem 3rem;
    padding-right: 2.5rem;
  }
}

.hiddenMsg {
  font-size: 2rem;
  position: absolute;
  bottom: 2rem;
  font-weight: 100;
  p {
    &:first-child {
      margin-bottom: 1rem;
    }
    color: white;
  }
}
@media screen and (max-width: 1200px) {
  .home {
    height: 100vh;
    position: absolute;
    z-index: 100;
    &__container {
      position: absolute;
      z-index: 100;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #444444;
    }
  }
}
