.works {
  margin-top: 10rem;
}
.head {
  color: #444444;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 10% 40% 45% 5%;
  font-size: 0.7rem;
  font-weight: 300;
}

.text {
  padding-left: 0.4rem;
}
