.works {
  margin-top: 10rem;
}
.head {
  color: #444444;
  padding: 0.8rem 0;
  display: grid;
  grid-template-columns: 10% 40% 45% 5%;
  font-size: 0.8rem;
  font-weight: 400;
}

.text {
  padding-left: 0.6rem;
}
